<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Runu-Giving eyes to machine</title>

</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-4 columns hide-for-small">
                <h4>Upload an image</h4>
                <hr>
                <a href="#">
                    <div class="panel radius callout" style="text-align: center">
                        <div flow-init="{target: '/upload'}"
                             flow-files-submitted="$flow.upload()"
                             flow-file-success="fileSuccess($message)">

                            <input type="file" flow-btn/>
                            <span class="btn" flow-btn></span>

                            <table>
                                <tr ng-repeat="file in $flow.files">
                                    <td><img flow-img="$flow.files[0]" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </a>
            </div>
            <div class="large-8 columns">
                <div class="panel radius">
                    <div class="row">
                        <div class="large-6 small-6 columns">
                            <h4>Detect My Face</h4>
                            <hr>
                            <h5 class="subheader">Runu is able to detect if the image is having any face or not</h5>
                            <h5 class="subheader">It classifies the face in corresponding emotions- happy, sad, angry etc.</h5>
                            <h5 class="subheader">For ex: Runu should identify the faces in this image. It should not identify dog face here.</h5>
                            <div class="show-for-small" style="text-align: center">
                                <a class="small radius button" href="#">Upload Image</a><br>
                                <a class="small radius button" href="#">Choose existing</a>
                            </div>
                        </div>
                        <div class="large-6 small-6 columns">
                            <div ng-init="myVar = 'http://www.daveperrett.com/images/articles/2010-12-14-face-detection-with-osx-and-python/Example_1.png'">
                                <img ng-src="{{myVar}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>