<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div class="row" ng-controller='ImageDetectionController'>
        <div class="large-12 columns">
            <div class="row">
                <div class="large-4 columns hide-for-small">
                    <h4>Upload an image</h4>
                    <hr>
                        <div class="panel radius callout" style="text-align: center">
                            <table>
                                <tr>
                                    <td>
                                        <label>Enter Image Url:
                                            <input type="text" name="analyzelabel" ng-model="analyze.labelurl" required >
                                            <button ng-click='analyzePicture(analyze.labelurl)'>Analyze</button>
                                            <p ng-bind-html="myText"></p>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                </div>
                <div class="large-8 columns">
                    <div class="panel radius">
                        <div class="row">

                            <div class="large-6 small-6 columns analyzeText">

                                <div class="analysistitle">
                                    <h4>Detect Image</h4>
                                    <hr>
                                    <h5 class="subheader"><p>On uploading an image Runu should able to identify the associated topics for that image.</p></h5>
                                    <h5 class="subheader"><p>For ex: An owl's image should identify the picture as owl</p></h5>
                                </div>
                                <div ng-repeat="x in analysisResponse" class="shadow">{{x}}</div>

                            </div>
                            <div class="large-6 small-6 columns analyzeImage">
                                <div ng-init="myVar = 'https://make.wordpress.org/core/files/2016/02/2A-3-1.jpg'">
                                    <img ng-src="{{myVar}}">
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>